<link rel="stylesheet" href="../css/sidebar.css">
<aside class="sidebar">
    <div class="app-name">
        <h1>TRAINING!</h1>
    </div>

    <div class="menu-section-title">Menú</div>

    <div class="menu-items">
        <a href="/gym_frontend/static/index.html" class="menu-item" id="menu-inicio">
            <i class="fas fa-home"></i><span>Inicio</span>
        </a>
        <a href="/gym_frontend/static/clientes.html" class="menu-item" id="menu-clientes">
            <i class="fas fa-users"></i><span>Clientes</span>
        </a>
        <a href="/gym_frontend/static/ejercicios.html" class="menu-item" id="menu-ejercicios">
            <i class="fas fa-dumbbell"></i><span>Ejercicios</span>
        </a>
        <a href="/gym_frontend/static/rutinas.html" class="menu-item" id="menu-rutinas">
            <i class="fas fa-clipboard-list"></i><span>Rutinas</span>
        </a>
    </div>
</aside>